#kanban {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 3em;
  margin-right: 1.5em;
  margin-left: 1.5em;
  padding: 1.5em;
  flex-wrap: wrap;
}


div.no_show {
  border: none;
}


div.show {
  border: 2px solid black;
}


div.categoryItem {
  display: flex;
}
