#categoryHeader {
  display: flex;
  flex-direction: row;
  background: none;
}


a#deleteButton {
  text-decoration: none;
  color: rgb(66, 244, 197);
  padding: .3em;
  margin-right: 3em;
  padding-top: .3em;

    &:hover {
      color: rgb(66, 134, 244);
    }
}


div.category-item {
  margin-bottom: 2.5em;
}
