#ExpenseWrapper {
  margin-top: 3em;
}


.ExpenseForm {
  display: flex;
  flex-direction: column;

  &:hover {
    @include box-basic;
    background: ivory;
    outline: none;
  }
}


#expenseHeader {
  margin-top: .5em;
  background: none;
}


div#ExpenseDiv {
  border: 2px solid black;
  background: white;
  border-bottom: none;
  padding: .5em 0 1.5em 1em;
  display: flex;
  flex-direction: row;
  align-items: center;

  &:first-child {
    border-bottom: 1px solid black;
  }

  &:last-child {
    border-bottom: 1px solid grey;
  }
}


#expenseName {
  width: $category-name-width;
}


#expenseAmt {
  width: $budget-amt-width;
}


#expenseSubmitButton {
  display: block;
  width: 8em;
  height: 2em;
  margin-left: 4em;
  color: red;
  background: none;
  outline: none;
  font-size: 20px;

  &:hover {
    color: rgb(66, 244, 197);
  }
}


input.inactive {
  background: white;
  color: black;
  font-size: 15px;
  border: 2px solid black;
  padding: 6px;
}


a#deleteExpense {
  text-decoration: none;
  color: red;
  padding: .5em;
  margin-right: 2.8em;
  padding-top: .2.8em;
}


#expenseSubmitButton.hidden {
  display: none;
  visibility: hidden;
}


.invisible {
  display: none;
}
