html, body {
  margin: 0;
  padding: 0;
  height: 150vh;
  font-family: impact;
}


body {
  background: white;
  color: black;
  font-family: impact;
}


form {
  display: flex;
  font-family: impact;
}


input {
  border-radius: 2px;
  outline: none;
  font-family: impact;s
}
